*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/font/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/font/Rubik-Regular.ttf');
}



.container-grid{
    max-width: 75%;
    margin: 0 auto;
}


body{
    background-color: #09090B;
    color: white;
}

.sectionTop{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter';
    width: 100%;
    margin-top: 30px;
}


.titleHeader>h1{
    color: #00A3FF;
    font-weight: 600;
    font-size: 40px;
}

.containerNav{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.navHeader{
    /* border: 2px solid white; */
    width: 80%;
}

.ulHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.ulHeader>li:hover{
    cursor: pointer;
    font-size: 18px;
    border-bottom: 2px solid #00A3FF;
}

.ulHeader>li>a{
    text-decoration: none;
    color: #FFFFFF;
}

.inputHeader>input{
    width: 200px;
    padding: 10px;
    outline: #00A3FF;
    border: none;
    background-color: #151B26;
    color: #FFFFFF;
    border-radius: 15px;
}

input:hover{
    border:2px solid #00A3FF;
}

.inputHeader>input::placeholder{
    color: #FFFFFF;
    letter-spacing: 1px;
}

.iconsHeader{
    display: none;
}

.sectionLow{
    width: 100%;
    height: 90px;
    padding: 10px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    /* overflow-inline: auto; */
}


.sectionLow::-webkit-scrollbar {
    height: 5px;
  }
  
  .sectionLow::-webkit-scrollbar-track {
    background: #151B26;
  }
  

  .sectionLow::-webkit-scrollbar-thumb {
    background: #00A3FF;
    border-radius: 5px; 
  }
  
  .sectionLow::-webkit-scrollbar-thumb:hover {
    background: #0077CC;
  }


.buttonHeader{
    display: flex;
}


.buttonHeader>button:first-child{
    margin-left: 0;
    background-color: #151B26;
    color: #FFFFFF;
}


.buttonHeader>button{
    padding: 5px;
    background-color: #09090B;
    border: none;
    color: #BFBFBF;
    font-size: 13px;
    border: 2px solid #151B26;
    border-radius: 15px;
    width: 70px;
    cursor: pointer;
    margin-left: 38px;
}

.buttonHeader>button:hover{
    background-color: #151B26;
}


.containerBanner{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.titleBanner{
    line-height: 30px;
}

.titleBanner>h3{
    font-family: 'Rubik';
    font-size: 25px;
    font-weight: 100;
}

.titleBanner>p{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 100;
    color: #BFBFBF;
}


.imgBanner {
    background-image: url('../assets/image/wallpaper.png');
    padding: 25px;
    background-size: cover;
    height: 300px;
    border-radius: 8px;
    opacity: 65%;
    position:relative;
    cursor: pointer;
}

.imgBanner:hover{
    opacity: 50%;
}

.textBanner{
    padding: 30px;
    width: 600px;
    position: absolute;
    top: 450px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}


.textBanner>h1{
    font-family: 'Rubik';
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
}

.textBanner>p{
    width: 480px;
    font-family: 'Inter';
    font-size: 15px;
    color: #BFBFBF;
    line-height: 25px;
}


.containerCards{
    /* border: 5px solid red; */
    margin-top: 70px;
}

.titleCards{
    margin-bottom: 30px;
}

.titleCards>h3{
    font-family: 'Rubik';
    font-size: 25px;
    font-weight: 300;
}

.containerSeries{
    padding-top: 10px;
    height: auto;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 250px;
   
}

.imgCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.imgCard>img{
    width: 100%;
    border-radius: 8px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0.998), rgba(0,0,0,0));
}


.imgCard>img:hover{
    opacity: 80%;
}


.subtitleCard{
    display: flex;
    justify-content: center;
}

.subtitleCard>span{
    font-family: 'Inter';
    font-size: 17px;
    color: #BFBFBF;
    text-align: center;
    position: absolute;
    top: 150px;
    cursor: pointer;
}

.subtitleCard>span>a{
    text-decoration: none;
    color: #BFBFBF;
}


.textCard{
    width: 150px;
    text-align: center;
    font-family: 'Inter';
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 10px;
}


.containerButton{
    display: flex;
    justify-content: center;
}

.containerButton>button{
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #151B26;
    font-family: 'Inter';
    font-size: 17px;
    letter-spacing: 1px; 

    cursor: pointer;
}

.containerButton>button:hover{
    background-color: #151b26ad;
} 


.containerFooter{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-size: 18px;
    color: #BFBFBF;
}


@media screen and (max-width: 415px) {

.container-grid{
    max-width: 90%;
}

.titleHeader>h1{
    font-size: 24px;
}

.containerNav{
    width: 25%;
}

.navHeader{
    background-color: #151b2663;
    position:  fixed;
    top: 10vh;
    right: 0;
    height: 40vh;
    width: 80%;
    
    transform: translateX(100%);
    transition: all 0.5s ease;
    z-index: 999;
}

.navHeader.open{
    transform: translateX(0);
    display: block;  
}

.navHeader>ul{
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
}

.navHeader>ul>li:hover{
    border-radius: 10px;
    padding: 8px;
    color: var(--color-white);
}

.inputHeader{
    display: none;
}

.iconsHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.iconsHeader>img{
    cursor:pointer;
}

.modal{
    display: flex;
    align-items: center;
    cursor: pointer;
}


.buttonHeader>button:first-child{
    margin-left: 0;
    width: 66px;
    background-color: #151B26;
    color: #FFFFFF;
}

.buttonHeader>button{
    font-size: 12px;
    width: 52px;
    margin-left: 20px;
}


.containerBanner{
    margin-top: 50px;
}

.titleBanner>h3{
    font-size: 18px;
}

.titleBanner>p{
    font-size: 14px;
}

.imgBanner {
    background-image: url('../assets/image/wallpaperMobile.png');
}

.textBanner{
    width: 370px;
}

.textBanner>h1{
    font-size: 15px;
}

.textBanner>p{
    width: 85%;
    font-size: 10px;
    line-height: 15px;
}

.containerCards{
    margin-top: 50px;
}


.titleCards>h3{
    font-size: 18px;
}

.containerSeries{
    justify-content: space-around;
}

.subtitleCard>span{
    font-size: 12px;
}

.textCard{
    font-size: 14px;
}

.containerButton{
    margin-top: 20px;
}

.containerButton>button{
    width: 100%;
    font-size: 16px;
}

.containerFooter{
    margin-top: 40px;
    font-size: 14px;
    text-align: center;
}

}